.a0{
    font-size: 11px;
    float: right;
}


.a1{
    background-color: #F6F6F6;
    width: 420px;
    height: 100px;
    padding: 20px;
    line-height: 2px;
    float: left;
    margin-left: 90px;
}

#signup label{
    float: left;
    width: 100px;
    margin-top: 10px;
}
/* #signup{
    background-color: #003399; */
    

.a2{
    color: white; 
    font-weight: bold; 
    background-color: #003399;
    font-size: 20px;
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-left: 40px;
}
.a2_1{
    color: #4C4C4C;
    background-color: lightskyblue;
    font-size: 20px;
    width: 910px;
    height: 60px;
    text-align: center;
    line-height: 60px;

    
}

table, th, td{
        border: 1px solid white;
        border-collapse: collapse;
        text-align: center;
        width: 550px;
        height: 50px;
        line-height: 12px;
}



.a3{
    color: white;
    font-weight: bold;
    background-color: #2088c4;
    display: inline-block;
    width: 450px;
    height: 100px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: 50px;
}

.a4{
    text-align: center;
    width: 220px;
    height: 90px;
    margin-left: 20px;
    border: 1px solid #000;
    border-collapse: collapse;
    line-height: 12px;
    margin-top: 25px;
    font-size: 13px;

}

/* .a5{
    margin-left: 40px;
} */

.a6{
    list-style-type: none;
}

.a7{
    width: 1200px;
    margin: auto;
}

.a8{
    float: left;
}

.img1{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 40px;

}

section a:link, a:visited{
    color:black;
    text-decoration: none;
    display: block;
    /* padding: 10px 20px; */
    background-color: white;
    border: 1px solid #ccc; 
    font-size: 15px;
    width: 96.6px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    }

a:hover{
    background-color: #D5D5D5;
    color:black;
}

div a:link, a:visited{
    color:black;
    text-decoration: none;
}

div a:hover{
    text-decoration: underline;
}

tr[title |= de]{
    background-color: #D5D5D5;
}

tr[title |= li]{
    background-color: #EAEAEA
    
}


